parameters:
    level: max
    paths:
        - src
        - config
        - tests/Fixtures
        - tests/Pest.php
        - tests/TestCase.php
    tmpDir: build/phpstan
    parallel:
        maximumNumberOfProcesses: 1
